body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    margin-top: 0.8rem;
    margin-left: 1.5rem;
   
}

h1{
    font-weight: 100;
    font-size: 1.7rem;
}
nav{
    width:30vw;
    margin-top: 0.7rem;
    margin-right: 3.5rem;
}
ul{
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
}

li{
    list-style: none;
    font-size: 1.2rem;
} 

section>img{
    position: relative;
    left: 1.5vw;
    width: 95vw;
}

article{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin-left: 1.5rem;
}


div{
    text-align: center;
    margin: 2rem;
}

h3{
    font-weight: 100;
}
p{
    font-size: 1.1rem;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
      
}

footer>h3{
    padding: 1rem;
}

.new{
    width: 5rem;
}


