body{
    background-color: #219F94;
    display: flex;
    justify-content: center;
}

.container{
    /* background-color: white; */
    height: 30rem;
    width : 35%;
    display : flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 6%;
    /* border-radius: 1.5rem; */
   
}

.heading{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: teal;
    color: white;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}

.taskList{
    background-color: white;
    width: 100%;
    height: 90%;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    
    
}