body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    margin-top: 0.8rem;
    margin-left: 1.5rem;
   
}

h1{
    font-weight: 100;
    font-size: 1.7rem;
}
nav{
    width:30vw;
    margin-top: 0.7rem;
    margin-right: 3.5rem;
}
ul{
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
}

li{
    list-style: none;
    font-size: 1.2rem;
} 

section>img{
    position: relative;
    left: 1.5vw;
    width: 95vw;
}